//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.12.01
//Part Number: GW5AST-LV138FPG676AC2/I1
//Device: GW5AST-138
//Device Version: B
//Created Time: Sun 03 08 16:04:35 2026

IO_LOC "hwRstn" K16;
IO_PORT "hwRstn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "HCLK" P16;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// PMOD1
IO_LOC "UART1TXD" L17;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "UART1RXD" H14;
IO_PORT "UART1RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "JTAG_7_SWDIO" L18;
IO_PORT "JTAG_7_SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "JTAG_9_SWDCLK" H15;
IO_PORT "JTAG_9_SWDCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "GWCT_TX" V17;
IO_PORT "GWCT_TX" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "BOOT_LED_A" U16;
IO_PORT "BOOT_LED_A" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GWCT_RX" U15;
IO_PORT "GWCT_RX" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "WS2812_LED" H16;
IO_PORT "WS2812_LED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// 10 pin FFC connector
// in order of how they are in the schematic top to bottom
/*
IO_LOC "FPC10P_IO0" M26;
IO_LOC "FPC10P_IO1" N18;
IO_LOC "FPC10P_IO2" N17;
IO_LOC "FPC10P_IO3" L22;
IO_LOC "FPC10P_IO4" L24;
IO_LOC "FPC10P_IO5" R16;
IO_LOC "FPC10P_IO6" T24;
IO_LOC "FPC10P_IO7" R17;
*/

IO_LOC "GPIO[0]" J14; // user LED0
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO[1]" R26; // user LED1
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "GPIO[2]" L20; // user LED2
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


// 10-pin FPC connector — multiflex signals (FPC: IO0=CLK IO1..3=TX IO4..6=RX IO7=SYNC)
IO_LOC "MULTIFLEX_CLK"    M26; IO_PORT "MULTIFLEX_CLK"    IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_TX[0]"  N18; IO_PORT "MULTIFLEX_TX[0]"  IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_TX[1]"  N17; IO_PORT "MULTIFLEX_TX[1]"  IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_TX[2]"  L22; IO_PORT "MULTIFLEX_TX[2]"  IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_RX[0]"  L24; IO_PORT "MULTIFLEX_RX[0]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_RX[1]"  R16; IO_PORT "MULTIFLEX_RX[1]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_RX[2]"  T24; IO_PORT "MULTIFLEX_RX[2]"  IO_TYPE=LVCMOS33 BANK_VCCIO=3.3;
IO_LOC "MULTIFLEX_SYNC"   R17; IO_PORT "MULTIFLEX_SYNC"   IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;


// GPIO[4] and GPIO[5] repurposed as SFP+ status LEDs (see below)

// SFP+ loopback status
IO_LOC "SFP_LCK0" N21;
IO_PORT "SFP_LCK0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SFP_LCK1" N23;
IO_PORT "SFP_LCK1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SFP_ACT" M25;
IO_PORT "SFP_ACT" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SFP_TX_DIS_LN0" R18;
IO_PORT "SFP_TX_DIS_LN0" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SFP_TX_DIS_LN1" M20;
IO_PORT "SFP_TX_DIS_LN1" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// DDR3
IO_LOC "DDR_DQM_O[1]" H9;
IO_PORT "DDR_DQM_O[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_DQM_O[0]" F4;
IO_PORT "DDR_DQM_O[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_RESET_N_O" N8;
IO_PORT "DDR_RESET_N_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ODT_O" J1;
IO_PORT "DDR_ODT_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_CKE_O" L3;
IO_PORT "DDR_CKE_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_CLK_O" M2;
IO_PORT "DDR_CLK_O" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_WE_N_O" J3;
IO_PORT "DDR_WE_N_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_CAS_N_O" H1;
IO_PORT "DDR_CAS_N_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_RAS_N_O" H2;
IO_PORT "DDR_RAS_N_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_CS_N_O" L4;
IO_PORT "DDR_CS_N_O" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_BA_O[2]" K3;
IO_PORT "DDR_BA_O[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_BA_O[1]" L5;
IO_PORT "DDR_BA_O[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_BA_O[0]" M4;
IO_PORT "DDR_BA_O[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[13]" U2;
IO_PORT "DDR_ADDR_O[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[12]" N3;
IO_PORT "DDR_ADDR_O[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[11]" P4;
IO_PORT "DDR_ADDR_O[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[10]" M1;
IO_PORT "DDR_ADDR_O[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[9]" T3;
IO_PORT "DDR_ADDR_O[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[8]" T4;
IO_PORT "DDR_ADDR_O[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[7]" U1;
IO_PORT "DDR_ADDR_O[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[6]" N4;
IO_PORT "DDR_ADDR_O[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[5]" T2;
IO_PORT "DDR_ADDR_O[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[4]" P1;
IO_PORT "DDR_ADDR_O[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[3]" N2;
IO_PORT "DDR_ADDR_O[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[2]" R2;
IO_PORT "DDR_ADDR_O[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[1]" R1;
IO_PORT "DDR_ADDR_O[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_ADDR_O[0]" N1;
IO_PORT "DDR_ADDR_O[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_INIT_COMPLETE_O" N22;
IO_PORT "DDR_INIT_COMPLETE_O" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


IO_LOC "DDR_DQ_IO[14]" G6;
IO_PORT "DDR_DQ_IO[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[13]" F8;
IO_PORT "DDR_DQ_IO[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[12]" D6;
IO_PORT "DDR_DQ_IO[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[11]" G8;
IO_PORT "DDR_DQ_IO[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[10]" H6;
IO_PORT "DDR_DQ_IO[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[9]" H8;
IO_PORT "DDR_DQ_IO[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[8]" E6;
IO_PORT "DDR_DQ_IO[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[7]" K6;
IO_PORT "DDR_DQ_IO[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[6]" K8;
IO_PORT "DDR_DQ_IO[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[5]" J5;
IO_PORT "DDR_DQ_IO[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQS_IO[1]" H7;
IO_PORT "DDR_DQS_IO[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_DQS_IO[0]" J4;
IO_PORT "DDR_DQS_IO[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[15]" F7;
IO_PORT "DDR_DQ_IO[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[4]" K7;
IO_PORT "DDR_DQ_IO[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[3]" G5;
IO_PORT "DDR_DQ_IO[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[2]" L8;
IO_PORT "DDR_DQ_IO[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[1]" J6;
IO_PORT "DDR_DQ_IO[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;
IO_LOC "DDR_DQ_IO[0]" G4;
IO_PORT "DDR_DQ_IO[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 VREF=INTERNAL BANK_VCCIO=1.5;

// RGMII Ethernet (RTL8211FI-CG PHY, 3.3V IO)
// TX
IO_LOC "RGMII_TXC"      H24; IO_PORT "RGMII_TXC"      IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TX_CTL"   J24; IO_PORT "RGMII_TX_CTL"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[0]"   K21; IO_PORT "RGMII_TXD[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[1]"   J21; IO_PORT "RGMII_TXD[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[2]"   L19; IO_PORT "RGMII_TXD[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "RGMII_TXD[3]"   K18; IO_PORT "RGMII_TXD[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
// RX
IO_LOC "RGMII_RXC"      C23; IO_PORT "RGMII_RXC"      IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RX_CTL"   C22; IO_PORT "RGMII_RX_CTL"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[0]"   B26; IO_PORT "RGMII_RXD[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[1]"   C26; IO_PORT "RGMII_RXD[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[2]"   D26; IO_PORT "RGMII_RXD[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "RGMII_RXD[3]"   E26; IO_PORT "RGMII_RXD[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
// SMI (PHY management)
IO_LOC "MDC"            K23; IO_PORT "MDC"             IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "MDIO"           K22; IO_PORT "MDIO"            IO_TYPE=LVCMOS33 PULL_MODE=UP   DRIVE=8 BANK_VCCIO=3.3;
// PHY control
IO_LOC "EPHY_RST_N"     E17; IO_PORT "EPHY_RST_N"     IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "EPHY_CLK"       E18; IO_PORT "EPHY_CLK"       IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
